@use '../../styles/mixins.scss';

.container {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include mixins.respond-tablet {
    top: 30%;
    transform: translate(-50%, -30%);
  }

}

.image {
  position: relative;
  width: 375px;
  padding-top: 3px;
}

.image::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(../../assets/fire-wrapper.gif);
  background-size: 416px;
  background-repeat: no-repeat;
  background-position: -23px -3px;
}

.image img {
  width: 100%;
}

.imageSubtitle {
  width: 236px;
  margin-top: -31px;
}

.imageSubtitle img {
  width: 100%;
}
